.accordion
	margin-bottom 1.5rem
	cursor pointer
	transition 0.4s
	user-select none

	header, .accordion-title
		// padding 12px 0
		color $accodion_title
		font-size .875rem
		font-weight 600
		display flex
		justify-content space-between

		img
			transform rotate(-90deg)
			transform-origin center
			transition transform 0.25s ease-in-out
			height: auto
	main, .accordion-content
		max-height 0px
		transition 0.2s ease-in-out
		transition-property max-height, margin
		list-style none
		overflow hidden
		margin-top 0
		margin 0

	&.active
		header, .accordion-title
			color $text_color
			img
				transform rotate(0deg)
		main, .accordion-content
			max-height 500px
			margin-top 1rem
			> *
				// color $text_color_lightest
				&:not(:first-child)
					margin-top 1rem

	+breakpoint(PC)
		border none
		main, .accordion-content
			margin-left .5rem
			margin-right .625rem
