.btn
	display inline-block
	width max-content
	user-select: none
	cursor pointer
	text-decoration: none
	white-space: nowrap

	&[type="submit"]
		display initial
	&.btn

		border none
		border-radius .5rem

		color $white
		font-weight 600
		font-size 1rem
		background-color $primary
		padding: .5rem .75rem
		+breakpoint(PC)
			padding .5rem 1rem

		&[disabled]
			background-color: $primary_darkened
			color: darken($white, 15%)
		&:hover:not([disabled])
			color $white
			background-color $primary_background_light
		&:active:not([disabled])
			color $white
			background-color $primary_background

	&.stroke
		color $primary
		border none
		background-color transparent
		&-outline
			color $primary
			border thin solid currentColor
			background-color transparent
			&:hover
				background-color $primary
				color $white
			&:active
				background-color $primary_background_light

	&.secondary
		background-color: $secondary
		&.secondary
			&:hover
				background-color #DE471D
				color: $white
			&:active
				background-color #943115
				color: $white
		&.stroke
			color $secondary
			background-color: transparent
			&-outline
				&, &:visited, &:link
					color $secondary
					background-color: transparent
					&:hover, &:active
						color: $white
					&:hover
						background-color: $secondary
					&:active
						background-color #943115
