

//
// Base styles
//
// Forms

.form-control, .Dropdown-control {
  display: block;
  width: 100%;
  padding: 9px 16px;
  font-family: $sansSerif;
  // @include font-size(14);
  font-weight: normal;
  line-height: 150%;
  color: $text-gray;
  background-color: $input-bg;
  background-clip: padding-box;
  border: 1px solid $input-border-color;
  appearance: none; // Fix appearance for date inputs in Safari

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius($input-border-radius);
  @include transition($input-transition);

  &[type="file"] {
    overflow: hidden; // prevent pseudo element button overlap

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
  }

  // Placeholder
  &::placeholder {
    color: $input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    border-color: $input-disabled-border-color;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }
  
}
.Dropdown-root {
  position: relative;
  &.is-open {
    .Dropdown-placeholder {
      color: $text-main;
    }
  }
}
.Dropdown-control {
  background: white;
  cursor: default;
  padding: 9px 25px 9px 16px;
}
.Dropdown-placeholder {
  color: #848687;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.Dropdown-arrow {
  border-color: $text-main transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -2.5px;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 0;
}
.is-open .Dropdown-arrow {
  border-color: transparent transparent $text-main;
  border-width: 0 5px 5px;
}
.Dropdown-menu {
  background-color: white;
  padding: 8px 0;
  box-sizing: border-box;
  margin-top: 4px;
  max-height: 350px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
  &::-webkit-scrollbar-track {
    background-color: #E3E3E3;
    border-radius: 0;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #FFF;
    background: #4FBA69;
  }
  &::-webkit-scrollbar {
    width: 4px;
    background-color: #E3E3E3;
  }
}
.Dropdown-option {
  box-sizing: border-box;
  color: $text-main;
  cursor: pointer;
  display: block;
  text-align: left;
  padding: 4px 18px;
  font-size: 16px;
  line-height: 1.5rem;
  &:hover, &.is-selected {
    background-color: #f2f9fc;
    color: $primary;
  }
}

textarea.form-control  {
  padding: 14px 16px;
}

.form-input {
  position: relative;
  display: flex;
  flex-wrap: wrap; // For form validation feedback
  width: 100%;
  margin-bottom: 16px;
  flex-direction: column;
  .btn {
    position: relative;
    z-index: 2;

    &:focus {
      z-index: 3;
    }
  }
}

.form-modal {
  .form-control, .Dropdown-control {
    color: black;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $input-border-color;
    appearance: none; // Fix appearance for date inputs in Safari
    border-radius: 0;
    font-size: 16px;
    padding: 4px 0 12px;
    line-height: 24px;
  }
  .text-danger {
    text-align: left !important;
    line-height: 24px;
    &.fadeIn {
      margin-bottom: -10px;
    }
  }

  .Dropdown-placeholder {
    color: $text-grayLight;
    &.is-selected {
      color: black;
    }
  }
  &::placeholder {
    color: $text-grayLight;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }
}
// .success-message {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   text-align: center;
//   margin-bottom: 10px;
//   &::before {
//     content: '';
//     width: 37px;
//     height: 26px;
//     background: url("/assets/images/tick.svg") no-repeat center;
//   }
// }
.sending-message {
  color: #1A0DAB;
  margin-bottom: 10px;
  text-align: center;
}
.form-userinfo {
  margin-top: 30px;
}