html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  .main-contain {
    flex-grow: 1;
    width: 100%;
    padding-top: 90px;
    @include xs-screen() {
      padding-top: 57px;
    }
  }
}
.clearfix {
  @include clearfix();
}
.show-mb {
  display: none !important;
  @include xs-screen {
    display: block !important;
  }
}
.hide-xs {
  @include xs-screen {
    display: none !important;
  }
}
.card {
  border-radius: 8px;
  @include box-shadow(
    0px 1px 5px rgba(0, 0, 0, 0.2)
  );
  color: $text-gray;
  .card-content {
    padding: 12px 16px;
  }
}
.card-item {
  overflow: hidden;
  margin-bottom: 30px;
  @include xs-screen() {
    margin-bottom: 24px;
  }
  img {
    width: 100%;
    background-color: $text-grayLight;
    min-height: 140px;
    cursor: pointer;
  }
  .card-title {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card-date {
    color: $text-main;
    margin: 4px 0;
    white-space: nowrap;
  }
}

hr {
  border: 1px solid $border-color;
  border-bottom: none;
  background: none;
  margin: 0;
}
table {
  th {
    font-weight: normal;
  }
}

.cursor {
  cursor: pointer;
}
.fade {
  transition: opacity 3s linear;
}

/* Style Paging */
/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  text-align: center;
  list-style: none;
}
.page-numbers {
  a {
    height: rem(32px);
    width: rem(32px);
    border-radius: 8px;
    color: #848687;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px;
    text-decoration: none;
  }
  &.current a, &:hover a {
    background: $secondary;
    color: #fff;
  }
  &.next a,
  &.prev a {
    font-size: 24px;
    line-height: 31px;
  }
  &.disabled {
    user-select: none;
    pointer-events: none;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.fadeIn {
  animation: fadeIn 0.5s linear;
}
.fadeOut {
  animation: fadeOut 0.5s linear;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
.loading {
  padding: 5% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #fff, $alpha: 0.5);
  color: transparent;
  font-size: 0;
  .c-loader {
    width: 50px;
    height: 50px;
    border: 6px solid #e5e5e5;
    border-top-color: #51d4db;
    display: block;
    animation: is-rotating 1s infinite;
    border-radius: 50%;
  }
}
