// font-header()
//   font-family 'SVN-Poppins', sans-serif
//   font-weight bold
// font-body()
//   font-family 'SVN-Poppins', sans-serif
//   font-weight 400
font-url(file)
  return '../../fonts/' + file

webfont(family, file, hack-chrome-windows = false, weight = 'normal', style = 'normal')
  @font-face
    font-family family
    src url(font-url(file + '.eot'))
    src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
        url(font-url(file + '.woff')) format('woff'), 
        url(font-url(file + '.ttf')) format('truetype')
    font-weight weight
    font-style style

webfont(SVN-Poppins, SVN-Poppins, normal, normal);
webfont(SVN-Poppins, SVN-PoppinsBold, bold, normal);
webfont(SVN-Poppins, SVN-PoppinsBoldItalic, bold, italic);
webfont(SVN-Poppins, SVN-PoppinsSemiBold, 600, normal);
webfont(SVN-Poppins, SVN-PoppinsSemiBoldItalic, 600, italic);
webfont(SVN-Poppins, SVN-PoppinsMedium, 500, normal);
webfont(SVN-Poppins, SVN-PoppinsMediumItalic, 500, italic);
webfont(SVN-Poppins, SVN-PoppinsLight, 300, normal);
webfont(SVN-Poppins, SVN-PoppinsLightItalic, 300, italic);