.footer {
  width: 100%;
  background-color: #141515;
  position: relative;
  clear: both;
  padding: 5px 0;
  font-weight: normal;
  overflow: hidden;
  & ,a {
    color: #A2A3A3;
  }
  .social {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    a {
      width: 24px;
      margin-left: 16px;
      @include xs-screen {
        margin: 0 16px 0 0;
      }
    }
  }

}
.content-footer {
  width: 100%;
  padding: 25px 0;
}

.bottom-footer {
  padding: 12px 0;
  border-top: 1px solid rgba(255, 255, 255, .1);
  color: $text-main;
}
.footer-menu {
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: flex-end;
  padding: 0;
  a {
    text-decoration: none;
    color: $text-grayLight;
  }
  li:last-child a{
    margin-left: 24px;
    @include tiny-screen() {
      margin-left: 5px;
    }
  }
  @include xs-screen() {
    justify-content: flex-start;
    padding: 12px 0 5px;
  }
}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .logo {
    padding-left: 30px;
  }
  .top-footer {
    width: 100%;
    max-width: 100%;
  }
  .content-footer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    .col-8 {
      width: 100%;
    }
    .col-4 {
      width: 100%;
      padding-left: 30px !important;
    }
  }
  .bottom-footer {
    padding-left: 30px !important;
  }
}
