@import 'lib/normalize'
@import 'lib/variable'
@require "reset"
// MIXIN
@require "mixins/mixins"
@require "mixins/breakpoints"
@require "mixins/grid-frameworks"
@require "mixins/grid"
// LIB
@import "lib/grid"
@import "lib/flex"
@import 'lib/utilities'
@import 'lib/fonts'
@import 'lib/typography'
@import 'lib/global'
// LAYOUT
@import 'layout/layouts-dir'
// PAGE
@import 'pages/pages-dir'

#root
    display flex
    flex-direction column
    min-height 100vh
.main-contain
    flex-grow 1
