@import 'lib/normalize'
@import 'lib/variable'
@require "reset"
// MIXIN
@require "mixins/breakpoints"
@require "mixins/grid-frameworks"
@require "mixins/grid"
// LIB
@import "lib/grid"
@import "lib/flex"
@import 'lib/utilities'
@import 'lib/fonts'
@import 'lib/typography'
// LAYOUT
@import 'layout/layouts-dir'
// PAGE
@import 'pages/pages-dir'
html
body
  text-align center
  margin 0
  padding 0
  height 100%
  


